#take-picture-button {
  background-color: rgb(255, 105, 180);
  color: white;
  border: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 8vw;
}

#button-text {
  position: absolute;
  width: 100%;
  left: 0;
}

#button-text.counter {
  line-height: 240%;
}

svg {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -6vw;
  width: 12vw;
  height: 12vw;
}

#take-picture-button:active {
}

.loader {
    position: relative;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    width: 16vw;
    height: 16vw;
    border: 16px solid #f3f3f3; /* backing border */
    border-top: 16px solid #f9007e; /* animated loader */
    border-radius: 50%;
    animation: spin 2s linear infinite;
    transition: opacity 0.5s linear;
}

.hidden {
  opacity: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
