#take-picture-button {
  background-color: rgb(255, 105, 180);
  color: white;
  border: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 4vw;
}

#take-picture-button:active {
}
