[Desktop Entry]
Name=photobooth Express
Exec=scriptLocation/configuredStartPhotobooth.sh
Icon=scriptLocation/../assets/icons/photoBoothExpress.png
Terminal=false
Type=Application
